<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>s-5win2石0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{253,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,262}}</string>
				<key>sourceSize</key>
				<string>{253,262}</string>
			</dict>
			<key>s-5win2石0001</key>
			<dict>
				<key>frame</key>
				<string>{{253,0},{253,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,262}}</string>
				<key>sourceSize</key>
				<string>{253,262}</string>
			</dict>
			<key>s-5win2石0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{253,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,262}}</string>
				<key>sourceSize</key>
				<string>{253,262}</string>
			</dict>
			<key>s-5win2石0003</key>
			<dict>
				<key>frame</key>
				<string>{{253,0},{253,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,262}}</string>
				<key>sourceSize</key>
				<string>{253,262}</string>
			</dict>
			<key>s-5win2石0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{253,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,262}}</string>
				<key>sourceSize</key>
				<string>{253,262}</string>
			</dict>
			<key>s-5win2石0005</key>
			<dict>
				<key>frame</key>
				<string>{{253,0},{253,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,262}}</string>
				<key>sourceSize</key>
				<string>{253,262}</string>
			</dict>
			<key>s-5win2石0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{253,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,262}}</string>
				<key>sourceSize</key>
				<string>{253,262}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>win石.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>win石.png</string>
		</dict>
	</dict>
</plist>
