<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>a-1go布0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{266,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,277}}</string>
				<key>sourceSize</key>
				<string>{266,277}</string>
			</dict>
			<key>a-1go布0001</key>
			<dict>
				<key>frame</key>
				<string>{{266,0},{266,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,277}}</string>
				<key>sourceSize</key>
				<string>{266,277}</string>
			</dict>
			<key>a-1go布0002</key>
			<dict>
				<key>frame</key>
				<string>{{532,0},{266,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,277}}</string>
				<key>sourceSize</key>
				<string>{266,277}</string>
			</dict>
			<key>a-1go布0003</key>
			<dict>
				<key>frame</key>
				<string>{{0,277},{266,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,277}}</string>
				<key>sourceSize</key>
				<string>{266,277}</string>
			</dict>
			<key>a-1go布0004</key>
			<dict>
				<key>frame</key>
				<string>{{266,277},{266,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,277}}</string>
				<key>sourceSize</key>
				<string>{266,277}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>go布.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>go布.png</string>
		</dict>
	</dict>
</plist>
