<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Boom0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{28,27}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,12},{28,27}}</string>
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>Boom0001</key>
			<dict>
				<key>frame</key>
				<string>{{28,0},{35,33}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{35,33}}</string>
				<key>sourceSize</key>
				<string>{35,33}</string>
			</dict>
			<key>Boom0002</key>
			<dict>
				<key>frame</key>
				<string>{{63,0},{41,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,39}}</string>
				<key>sourceSize</key>
				<string>{41,39}</string>
			</dict>
			<key>Boom0003</key>
			<dict>
				<key>frame</key>
				<string>{{0,39},{39,37}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{39,37}}</string>
				<key>sourceSize</key>
				<string>{39,37}</string>
			</dict>
			<key>Boom0004</key>
			<dict>
				<key>frame</key>
				<string>{{39,39},{36,35}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{36,35}}</string>
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>Boom0005</key>
			<dict>
				<key>frame</key>
				<string>{{75,39},{33,32}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,7},{33,32}}</string>
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>Boom0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,76},{30,29}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,10},{30,29}}</string>
				<key>sourceSize</key>
				<string>{30,29}</string>
			</dict>
			<key>Boom0007</key>
			<dict>
				<key>frame</key>
				<string>{{30,76},{28,27}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,12},{28,27}}</string>
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>Boom0008</key>
			<dict>
				<key>frame</key>
				<string>{{58,76},{25,24}}</string>
				<key>offset</key>
				<string>{-8,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,15},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>
			<key>Boom0009</key>
			<dict>
				<key>frame</key>
				<string>{{83,76},{22,21}}</string>
				<key>offset</key>
				<string>{-9,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,18},{22,21}}</string>
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>
			<key>Boom0010</key>
			<dict>
				<key>frame</key>
				<string>{{105,76},{19,19}}</string>
				<key>offset</key>
				<string>{-11,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,20},{19,19}}</string>
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>Boom0011</key>
			<dict>
				<key>frame</key>
				<string>{{124,76},{0,0}}</string>
				<key>offset</key>
				<string>{-19,-20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,39},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Boom.png</string>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>Boom.png</string>
		</dict>
	</dict>
</plist>
